@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    src: local("Montserrat"), url("../fonts/MontserratLight.otf") format('opentype');
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"), url("../fonts/MontserratRegular.otf") format('opentype');
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"), url("../fonts/MontserratMedium.otf") format('opentype');
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    src: local("Montserrat"), url("../fonts/MontserratSemiBold.otf") format('opentype');
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat"), url("../fonts/MontserratBold.otf") format('opentype');
}
